<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div className="App">
      <div class="container">
        <header >
          <div >
          <!-- html에 없는 기능 템플릿 코드로 -->
             <button type="button" ><a href="/logout">Logout</a></button> 
            <button type="button" ><a href="/login">Login</a></button> 
            <button type="button" ><a href="/join">Sign up</a></button>
          </div>
        </header>
      </div>
      <table border="1" width="600px">
        <colgroup>
          <col width="10%" />
          <col width="80%" />
        </colgroup>
        <tr>
          <th scope="col">작성자</th>
          <th scope="col">제목</th>
        </tr>
        <tr>
          <td>철수</td>
          <td>안녕하세요</td>
        </tr>
      </table>
      <div >
        <button type="button" ><a href="/write">글작성</a></button>
        <button type="button" ><a href="/writeImage">이미지작성</a></button>
      </div>
    </div>
</body>
</html>